header {
    text-align: center;
    background: linear-gradient(90deg, #ffd000, #00aeff);
    padding: 30px;
    color: #00bbc9;
    border-radius: 35px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.664)
}

header:hover {
    transform: scale(1.05) rotate(-0.5deg);
}

body, html {
    font-family: 'Comic Relief', sans-serif;
    background: linear-gradient(0deg, #87ceeb, #d0f4f7);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.card {
    background: rgb(0, 255, 0);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.527);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
    color: yellow;
}

.card.visible {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    transform: scale(0.95) rotate(-2deg);
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: all 0.3s ease
}

button:hover {
    transform: scale(1.05) rotate(2deg);
    background-color: #00aeff;
    color: #ffffff
}